@mixin flexCenter {
   display: flex;
   align-items: center;
   justify-content: center;
}


@mixin ellipsisText {
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   line-height:1.3;
   word-break: break-all;
}
